Language: Cpp
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
BasedOnStyle: LLVM
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: false
UseTab: ForContinuationAndIndentation
ColumnLimit: 80
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: true
AlignTrailingComments: false
AlignOperands: false
Cpp11BracedListStyle: false
ForEachMacros: []
SortIncludes: false
AccessModifierOffset: 0
IndentWidth: 4
TabWidth: 4
IndentAccessModifiers: true
ReflowComments: false